:root {
  --main-yellow: rgb(255, 255, 0);
  --shade-yellow: rgb(255, 150, 0);
  --main-blue: rgb(188, 188, 255);
  --shade-blue: rgb(109, 109, 255);
  --main-red: rgb(255, 187, 187);
  --shade-red: rgb(255, 87, 87);
  --main-green: rgb(185, 255, 185);
  --shade-green: rgb(66, 168, 66);
  --main-cyan: rgb(214, 255, 250);
  --shade-cyan: rgb(74, 253, 253);
}


@media screen and (min-width: 1024px) {
  .panel, #p2a, #p2b, #p3a, #p3b {
    filter: grayscale(100%);
    transition: 0.2s;
  }
  .panel:hover  {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }

  #design:hover {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }
  #p2a:hover {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }
  #p2b:hover  {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }
  #p3a:hover  {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }
  #p3b:hover  {
    filter: grayscale(0%);
    transform: scale(1.01);
    opacity: 100%;
  }
  .panel:hover .in-panel-text{
    opacity: 100%;
    transform: scale(1.2) skew(-30deg);
    font-weight: bold;
  }
  .in-panel-text {
    opacity: 0%;
    transition: 0.2s;
  }
}

body {
  background-color: rgb(219, 219, 219);
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: pointer;
}


.canvas {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 48vh;
  border: 2px solid black;
  margin: 5px;
  flex: 1 1 300px;
  font-family: "bangers";
  font-size: 1.3em;
  justify-content: space-between;
}

.panel-split {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  height: 48vh;
  margin: 5px;
  flex: 1 1 300px;
  font-family: "bangers";
  font-size: 1.3em;
}

.panel1 {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;
  flex: 1 1 300px;
  font-family: "bangers";
  justify-content: space-between;
}

.panel2 {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;
  flex: 1 1 300px;
  font-family: "bangers";
}

.top-left {
  background-color: white;
  border: solid black 2px;
  margin-top: -2px;
  margin-left: 15px;
  padding: 0.2em;
  transform: skew(-15deg);
  display: block;
  align-self: flex-start;

}

.in-panel-text {
  align-self: center;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1em;
  transform: skew(20deg);
}

.bottom-right {
  background-color: white;
  border: solid black 2px;
  margin-right: 15px;
  margin-bottom: -1.5px;
  padding: 0.2em;
  transform: skew(-15deg);
  display: block;
  align-self: flex-end;
}

#p1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-basis: 400px;
  background: radial-gradient(rgb(255, 255, 0), rgb(255, 150, 0));
}

#p2 {
  margin: 5px;
  border: none;
}

#p2a {
  align-content: center;
  margin: -2px;
  margin-bottom: 5px;
  flex-basis: 300px;
  background: radial-gradient(var(--main-green), var(--shade-green));
}

#p2b {
  justify-content: flex-end;
  margin: -2px;
  margin-top: 5px;
  flex-basis: 250px;
  background: radial-gradient(var(--main-red), var(--shade-red));
}

#p3 {
  margin: 5px;
  border: none;
}

#p3a {
  margin: -2px;
  margin-bottom: 5px;
  flex-basis: 250px;
  background: radial-gradient(var(--main-blue), var(--shade-blue));
}

#p3b {
  justify-content: flex-end;
  margin: -2px;
  margin-top: 5px;
  flex-basis: 300px;
  background: radial-gradient(var(--main-yellow), var(--shade-yellow));
}

#p4 {
  flex-basis: 300px;
  background: radial-gradient(var(--main-red), var(--shade-red))
}

#p5 {
  flex-basis: 250px;
  background: radial-gradient(var(--main-green), var(--shade-green))
}

#p6 {
  flex-basis: 325px;
  background: radial-gradient(var(--main-cyan), var(--shade-cyan))
}

#p7 {
  flex-basis: 275px;
  background: radial-gradient(var(--main-blue), var(--shade-blue))
}

#p8 {
  flex-basis: 400px;
  background: radial-gradient(var(--main-green), var(--shade-green))
}

#p9 {
  flex-basis: 400px;
  background: radial-gradient(var(--main-red), var(--shade-red));
  transform: scale(1);
}

#anim1 {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5%;
  opacity: 0;
}

#anim1:active {
  opacity: 100;
  transition: 1s;
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: p2-anim 4s ease forwards;
}

@keyframes p2-anim {
  to {
      stroke-dashoffset: 0;
  }
}

#logo path:nth-child(1) {
  fill: rgb(255, 191, 72);
}

#logo path:nth-child(2) {
  fill: rgb(28, 198, 255);
}

#logo path:nth-child(3) {
  fill: rgb(255, 116, 220);
}

#logo path:nth-child(4) {
  fill: rgb(247, 0, 255);
}

#logo path:nth-child(5) {
  fill: rgb(255, 136, 0);
}

#logo path:nth-child(6) {
  fill: rgb(68, 0, 255);
}

